* {
    box-sizing: border-box;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  button{
    border-radius: 25px;
    border-color:white;

  }

  main{
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a b"
    "c d d"
    "c e e"
    ;

    gap: 10px;
    width: 50%;
    margin: auto;
}

main div{
    padding: 2em;
}

.one{
    background-color: orangered;
    grid-area: a;
    padding: 100px;
}
.two{
    background-color: orange;
    grid-area: b;
    padding: 100px;
}
.three{
    background-color: green;
    grid-area: c;
    padding: 100px;
}
.four{
    background-color: rgb(17, 174, 236);
    grid-area: d;
}   

.five{
    background-color: rgb(17, 174, 236);
    grid-area: e;
}


.top_btn{
    display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
        margin: 10px;
        
    
}
button a{
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="container" ] {
      width: 100%;
    }
    [class*="column" ] {
        width: 100%;
      }
     }